# Exploração de Dados
Exercício para exploração e compreensão de estatística dos dados lidos

In [6]:
# Configurações úteis:
import pandas as pd

# Variável que recebe o ano atual
import datetime

todays_date = datetime.date.today()

In [5]:
# Caminho para o arquivo
iowa_file_path = '../data/train.csv'

# Armazena o arquivo na variável home_data
home_data = pd.read_csv(iowa_file_path)

# Imprime o sumário de estatísticas
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:
# Tamanho médio dos lotes (arredondado para o inteiro mais próximo)
avg_lot_size = round(home_data['LotArea'].mean())

# Recebe a idade da casa mais nova no dataset (ano_atual - maior_ano_de_construção)
newest_home_age = (todays_date.year - home_data['YearBuilt'].max())

print("Tamanho médio dos lotes:", avg_lot_size)
print("Idade da casa mais nova no dataset:", newest_home_age)

Tamanho médio dos lotes: 10517
Idade da casa mais nova no dataset: 13

### Selecionando dados para o modelo
Um dataset com muitas variáveis pode ser demais para lidar de um jeito bom. Podemos reduzir essa quantidade de informações para algo mais compreensível.

Vamos começar selecionando algumas variáveis intuitivamente. Podemos visualizar uma lista das colunas de um conjunto de dados para escolher dentre elas.

In [12]:
melbourne_file_path = '../data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
# O dataset possui alguns valores em falta
# Vamos apagar casas com valores em falta do conjunto. 
# dropna apaga valores em falta (pense em na como "not available")
melbourne_data = melbourne_data.dropna(axis=0)

Há diferentes formas de selecionar um subconjunto dos dados, vamos focar em duas:
1. Dot notation, que usamos para selecionar o "prediction target" (o alvo a ser predito)
2. Selecionando com uma lista de colunas, que usamos para selecionar as "features" (As colunas de entrada para a previsão)

Podemos sacar uma variável para ser nosso alvo com `dot_notation`, essa coluna única é armazenada em uma `Series`, que funciona como um DataFrame com uma única coluna de dados.

Para selecionar as features da previsão, nós provemos uma lista de strings com os nomes das colunas com as colunas desejadas para determinar o alvo. Ás vezes serão todas as colunas exceto o alvo, outras vezes é melhor trabalhar com um subconjunto menor das colunas.

In [15]:
# Salvando a coluna que queremos prever em uma Series
y = melbourne_data.Price

y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [19]:
# Definindo a lista de colunas para features
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
# Salvando o conjunto de dados com as colunas desejadas em um DataFrame
X = melbourne_data[melbourne_features]

# Para um sumário dos dados
# X.describe()

# Para mostrar as primeiras linhas do DataFrame
# X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954